@font-face {
    font-family: 'Diavlo';
    src: url('fonts/diavlo_medium_ii_37-webfont.woff2') format('woff2'), url('fonts/diavlo_medium_ii_37-webfont.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    margin: 0px;
    height: 100vh;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/background.jpg");
    background-size: cover;
    flex: 1;
}

.signup {
    display: flex;
    flex-direction: column;
    flex: 1.7;
}

.company_name {
    font: 6em 'Diavlo';
    padding: 10px;
    margin-left: 20px;
}

#logoimg {
    height: 150px;
    width: auto;
    margin-left: 35px;
}

.container {
    margin-top: 25vh;
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 20px;
}

.empty {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: white;
}

