@font-face {
    font-family: 'Diavlo';
    src: url('fonts/diavlo_medium_ii_37-webfont.woff2') format('woff2'), url('fonts/diavlo_medium_ii_37-webfont.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    margin: 0px;
    height: 100vh;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/background.jpg");
    background-size: cover;
    flex: 1;
}

.signup {
    display: flex;
    flex-direction: column;
    flex: 1.7;
}

.company_name {
    font: 6em 'Diavlo';
    padding: 10px;
    margin-left: 20px;
}

#logoimg {
    height: 150px;
    width: auto;
    margin-left: 35px;
}

.container {
    margin-top: 25vh;
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 20px;
}

.empty {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: white;
}

.description {
    flex: 1.05;
    display: flex;
    font: bold 1.5em sans-serif;
    padding: 35px;
    padding-left: 13vh;
    padding-top: 25px;
    background-color: rgb(247, 247, 247);
    align-items: end;
}

.text {
    width: 88%;
}

.info {
    flex: 0.9;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    box-shadow: 0px 10px 20px -8px black;
    margin-bottom: 5vh;
}

label {
    font: bold 0.8em sans-serif;
    color:rgb(65, 65, 65)
}

.signupheader {
    font: bold 1.5em sans-serif;
    padding-left: 13vh;
}

.submission {
    flex: 1.05;
    padding-left: 13vh;
}

form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 13vh;
    padding-bottom: 55px;
}

input {
    height: 27px;
    width: 27vh;
    margin-right: 10vh;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgb(209, 209, 209);
    font-size: 1.2em;
}

input:focus {
    border: 1px solid #1d4ed8;
    box-shadow: 3px 3px 6px rgb(196, 196, 196);
}

.error {
    border: 1px solid red;
}

#create {
    font: 1.25em sans-serif;
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    background-color: #206d5b;
    color: white;
    margin-bottom: 40px;
}

.login {
    font: 1em sans-serif;
}

#create:hover {
    cursor: pointer;
    background-color: #1a5648;
}

.loginlink {
    color: #206d5b
}

.hidden {
    visibility: hidden;
}

.errormsg {
    color: red;
    font: 0.75em sans-serif;
}